<div class="tabs">
  {% assign codes = "python,javascript,cpp,rust,java,shell" | split: "," %}

  {% for code_name in codes %}
  {% if include[code_name] %}
  <input type="radio" id="tab_{{ include.id }}_{{ forloop.index }}" name="tab_{{ include.id }}" {% if forloop.first %}checked{% endif %}>
  <label for="tab_{{ include.id }}_{{ forloop.index }}">{{ code_name }}</label>
  {% endif %}
  {% endfor %}

  {% for code_name in codes %}
  {% if include[code_name] %}
  <div class="tab-content">
    <div class="code-container">
      <button class="copy-btn"
        onclick="navigator.clipboard.writeText(this.nextElementSibling.firstElementChild.innerText)">Copy</button>
      <pre><code class="language-{{ code_name }}">{{ include[code_name] | escape }}</code></pre>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>